# Ignore common temporary files and directories
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags

# Ignore specific patterns and directories
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/

# Ignore specific files
Gemfile.lock
archive.json
draft-ietf-core-coap-pubsub.v2v3.xml
draft-ietf-core-coap-pubsub.xml
package-lock.json
report.xml

# Exceptions
!requirements.txt

# Ignore backup and temporary files
Makefile~
draft-ietf-core-coap-pubsub.md~

# Ignore reference files
reference/draft-ietf-core-coap-pubsub-13-marco-review-1.txt
reference/external-data-host.txt
reference/external-topic-data.txt
reference/slides-116-core-a-publish-subscribe-architecture-for-the-constrained-application-protocol-coap-01.pdf
reference/topics.txt

# Ignore versioned files
versioned/draft-ietf-core-coap-pubsub-07.txt
